.marker {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  color: rgb(85, 82, 82);
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(0 2px 0.1rem rgb(2, 94, 131));
  transition: 0.15s;

  &__badge {
    position: absolute;
    color: rgb(255, 255, 255);
    border-radius: 50%;
  }

  &__badge--car {
    width: 30%;
    height: 30%;
    top: 0;
    right: -2%;
    background-color: rgba(42, 25, 2, 0.774);
  }

  &__circle {
    background-color: rgb(44, 8, 53);
    border-radius: 50%;
    border: 2px solid rgb(248, 245, 245);
    width: 100%;
    height: 100%;
  }

  & img {
    width: 100%;
  }

  &:active {
    filter: drop-shadow(0 3px 0.1rem crimson);
  }

  &--unavailable {
    filter: saturate(10%) drop-shadow(0 1px 0.2rem rgb(73, 50, 55));
  }
}
