.form {
  display: flex;
  align-self: center;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  width: min(100%, 300px);
  padding: 3rem 1rem;

  @media screen and(max-width:600px) {
    padding: 2rem 1rem 1rem;
  }
}

.control {
  background-color: rgba(117, 117, 117, 0.205);
  width: 100%;
  box-shadow: 0 0 1.5rem rgba(255, 255, 255, 0.486);
  border-radius: 5px;

  &__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    font-size: 2rem;
  }
}
